
    ol.enumerate, ul.itemize {
        padding-inline-start: 40px;
        margin: 0 0 1em 0;
    }
    li > ol.enumerate, li > ul.itemize {
        margin: 0;
    }
    ul.itemize > li {
        position: relative;
        min-height: 1.4em;
        margin-bottom: 0;
    }
    .enumerate > .li_enumerate {
        margin-bottom: 0;
    }
    .itemize > li > span.li_level, .li_enumerate.not_number > span.li_level {
        position: absolute;
        right: 100%;
        white-space: nowrap;
        width: max-content;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .li_enumerate.not_number {
        position: relative;
        display: inline-block;
        list-style-type: none;
        min-height: 1.4em;
    }
    .itemize > li > span.li_level .math-inline,
    .enumerate > li > span.li_level .math-inline {
        display: inline-block;
    }
